@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --title-font: "Playfair Display", serif;
  --main-font: "Nunito", sans-serif;
  --primary: #7286D3;
  --secondary: #8EA7E9;
  --grey: #E5E0FF;
  --white: #FFF2F2;
  --pure-white: white;
  --green: #a6ff6b;
  --red: #ff5252;
}

body {
  background-color: var(--primary);
  background-image: linear-gradient(var(--secondary) 1px, transparent 1px), linear-gradient(to right, var(--secondary) 1px, var(--primary) 1px);
  background-size: 30px 30px;
  font-family: var(--main-font);
}

.nav {
  background-color: var(--primary);
  height: 13vh;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--secondary);
  border-radius: 100vw;
  color: var(--pure-white);
  font-size: 22px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.add-book {
  border: none;
  border-radius: 100vw;
  height: 60px;
  width: 200px;
  font-size: 20px;
  background-color: var(--secondary);
  color: white;
  font-weight: 600;
}

.add-book:hover {
  cursor: pointer;
  background-color: var(--primary);
  border: 5px solid var(--secondary);
}

.cards {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 63vh;
}

.card {
  background-color: var(--primary);
  border: 5px solid var(--secondary);
  border-radius: 50px;
  color: white;
  padding: 40px;
  min-width: 300px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card p:nth-child(2) {
  margin-bottom: -10px;
}
.card button {
  border: 5px solid var(--secondary);
  border-radius: 100vw;
  width: 200px;
  height: 60px;
  font-size: 18px;
}
.card .read {
  background-color: var(--green);
}
.card .read:hover {
  background-color: var(--secondary);
  border: 5px solid var(--green);
}
.card .not-read {
  background-color: var(--white);
}
.card .not-read:hover {
  background-color: var(--secondary);
  border: 5px solid var(--white);
}
.card button:hover {
  color: var(--pure-white);
  font-weight: 500;
  cursor: pointer;
}

.remove {
  margin-top: 10px;
}

.remove:hover {
  background-color: var(--red);
}

.footer {
  background-color: var(--primary);
  width: 95vw;
  border: 5px solid var(--secondary);
  border-radius: 100vw;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer * {
  color: white;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px 20px 20px;
  color: white;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
form > input {
  width: 200px;
  height: 40px;
  padding-left: 15px;
  background-color: var(--secondary);
  color: var(--pure-white);
  border: none;
  border-radius: 100vw;
  font-size: 16px;
}
form > input:focus {
  outline: 3px solid var(--white);
}
form > input::-moz-placeholder {
  color: var(--grey);
}
form > input:-ms-input-placeholder {
  color: var(--grey);
}
form > input::placeholder {
  color: var(--grey);
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
}
form span {
  font-size: 20px;
  margin-right: 10px;
}
form input[type=checkbox] {
  width: 17px;
  height: 17px;
}
form > div {
  display: flex;
  align-items: center;
}
form button:not(#cancel-button) {
  border: 5px solid var(--secondary);
  border-radius: 100vw;
  font-size: 20px;
  height: 50px;
  background-color: var(--secondary);
  color: var(--pure-white);
}
form button:hover {
  cursor: pointer;
  background-color: var(--primary);
  border-color: var(--secondary);
}

.cancel-button {
  position: absolute;
  top: 10px;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 40px;
  color: var(--secondary);
}

dialog {
  background-color: var(--primary);
  border: 5px solid var(--secondary);
  border-radius: 50px;
}

@media only screen and (max-width: 400px) {
  .footer {
    height: 60px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */