@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

*, *::before, *::after{
	// margin: 0;
	// padding: 0;

	box-sizing: border-box;
}

:root{
	// Fonts
	--title-font: 'Playfair Display', serif;
	--main-font: 'Nunito', sans-serif;

	// Colors
	--primary: #7286D3;
	--secondary: #8EA7E9;
	--grey: #E5E0FF;
	--white: #FFF2F2;
	--pure-white: white;
	--green: #a6ff6b;
	--red: #ff5252;
}

body{
	// Background tiles
	background-color: var(--primary);
	background-image:  linear-gradient(var(--secondary) 1px, transparent 1px), linear-gradient(to right, var(--secondary) 1px, var(--primary) 1px);
	background-size: 30px 30px;

	font-family: var(--main-font);
}

.nav{
	background-color: var(--primary);
	height: 13vh;
	margin: 10px 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 5px solid var(--secondary) ;
	border-radius: 100vw;
	color: var(--pure-white);
	font-size: 22px;
}

.content{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.add-book{
	border: none;
	border-radius: 100vw;
	height: 60px;
	width: 200px;
	font-size: 20px;
	background-color: var(--secondary);
	color: white;
	font-weight: 600;
}

.add-book:hover{
	cursor: pointer;
	background-color: var(--primary);
	border: 5px solid var(--secondary);
}

.cards{
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 63vh;
}


.card{
	background-color: var(--primary);
	border: 5px solid var(--secondary);
	border-radius: 50px;
	color: white;
	// height: 240px;
	padding: 40px;
	min-width: 300px;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// gap: -30px;
	p:nth-child(2){
		margin-bottom: -10px;
	}

	button{
		border: 5px solid var(--secondary);
		border-radius: 100vw;
		width: 200px;
		height: 60px;
		font-size: 18px;
	}
	.read{
		background-color: var(--green);
	}

	.read:hover{
		background-color: var(--secondary);
		border: 5px solid var(--green);
	}

	.not-read{
		background-color: var(--white);
	}

	.not-read:hover{
		background-color: var(--secondary);
		border: 5px solid var(--white);
	}
	button:hover{
		color: var(--pure-white);
		font-weight: 500;
		cursor: pointer;
	}
}

.remove{
	margin-top: 10px;
}

.remove:hover{
	background-color: var(--red);
}

.footer{
	*{
		color: white;
		text-decoration: none;
	}

	background-color: var(--primary);
	width: 95vw;
	border: 5px solid var(--secondary);
	border-radius: 100vw;
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 20px;
}

form{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 20px 20px 20px;
	color: white;

	>input{
		width: 200px;
		height: 40px;
		padding-left: 15px;
		background-color: var(--secondary);
		color: var(--pure-white);
		border: none;
		border-radius: 100vw;
		font-size: 16px;
	}

	>input:focus{
		// outline: 1px --primary;
		// border: none;
		outline: 3px solid var(--white);
	}

	>input::placeholder{
		color: var(--grey);
	}

	// Removing the arrows from pages input
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	span{
		font-size: 20px;
		margin-right: 10px;
	}
	input[type=checkbox]{
		width: 17px;
		height: 17px;
	}

	>div{
		display: flex;
		align-items: center;
	}

	button{
		border: 5px solid var(--secondary);
		border-radius: 100vw;
		font-size: 20px;
		height: 50px;
		background-color: var(--secondary);
		color: var(--pure-white);
	}

	button:hover{
		cursor: pointer;
		background-color: var(--primary);
		border-color: var(--secondary);
	}
}

dialog{
	background-color: var(--primary);
	border: 5px solid var(--secondary);
	border-radius: 50px;
}