@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

*, *::before, *::after{
	// margin: 0;
	// padding: 0;

	box-sizing: border-box;
}

:root{
	// Fonts
	--title-font: 'Playfair Display', serif;
	--main-font: 'Nunito', sans-serif;

	// Colors
	--primary: #7286D3;
	--secondary: #8EA7E9;
	--grey: #E5E0FF;
	--white: #FFF2F2;
	--pure-white: white;
}

body{
	// Background tiles
	background-color: var(--primary);
	background-image:  linear-gradient(var(--secondary) 1px, transparent 1px), linear-gradient(to right, var(--secondary) 1px, var(--primary) 1px);
	background-size: 30px 30px;

	font-family: var(--main-font);
}

.nav{
	background-color: var(--primary);
	height: 13vh;
	margin: 10px 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 5px solid var(--secondary) ;
	border-radius: 100vw;
	color: var(--pure-white);
	font-size: 22px;
}

.content{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.add-book{
	border: none;
	border-radius: 100vw;
	height: 60px;
	width: 200px;
	font-size: 20px;
	background-color: var(--secondary);
	color: white;
	font-weight: 600;
}

.add-book:hover{
	cursor: pointer;
	background-color: var(--primary);
	border: 5px solid var(--secondary);
}

.cards{
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}


.card{
	background-color: var(--primary);
	border: 5px solid var(--secondary);
	border-radius: 50px;
	color: white;
	height: 200px;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}